* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #8257E5;
    --secondary-color: #E74D3D;
    --gray-color-1: #121214;
    --gray-color-2: #202024;
    --gray-color-3: #323239;
    --gray-color-4: #E1E1E6;
}

body {
    font-family: 'Inter';
    background: var(--gray-color-1);
    color: #fff;
}


.global_header {
    background-color: var(--gray-color-2);
    margin: auto;
    margin-top: 35px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 985px;
    border: solid var(--gray-color-3) 1px;
    border-radius: 13px;
}

.title {
    display: flex;
    align-items: center;
}

.title button {
    background-color: var(--primary-color);
    height: 30px;
    width: 5px;
    border: 0;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.adduser {
    background-color: var(--primary-color);
    color: #fff;
    font-family: 'Inter';
    font-weight: 700;
    border: 0;
    border-radius: 7px;
    padding: 12px;
    padding-right: 20px;
    cursor: pointer;
}

.global_header i {
    margin-right: 5px;
    padding-left: 5px;
}

.divboxes {
    width: 1024px;
    margin: auto;
    margin-top: 30px;
}

.divboxes input {
    background-color: var(--gray-color-2);
    font-family: 'Inter';
    display: flex;
    align-items: center;
    border: solid var(--gray-color-3) 1px;
    border-radius: 8px;
    padding: 11px 240px 11px 40px;
    color: var(--gray-color-4);
    background-image: url("../assets/search.png");
    background-size: 15px 17px;
    background-position: 13px 10px; 
    background-repeat: no-repeat;
}

.divboxes input:focus {
    outline: var(--gray-color-4);
}

.divboxes input::placeholder {
    color: #7C7C8A;
    font-weight: 500;
}

.person {
    background-color: var(--gray-color-2);
    display: flex;
    border: solid var(--gray-color-3) 1px;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 15px;
    width: 355px;
    overflow: hidden;
}

.person .sidebar {
    background-color: var(--primary-color);
    border: 0;
    width: 4px;
}

.person .content {
    margin-top: 30px;
    margin-left: 15px;
}

.person h3 {
    margin-bottom: 12px;
}

.person i {
    margin-right: 5px;
}

.edtexc {
    display: ruby-text;
    margin-top: 30px;
    margin-bottom: 15px;
}

.edt {
    font-family: 'Inter';
    font-weight: 600;
    border: solid 2px var(--primary-color);
    border-radius: 7px;
    color: var(--primary-color);
    background-color: transparent;
    padding: 10px 40px 10px 40px;
    margin-right: 7px;
    cursor: pointer;
}

.exc {
    font-family: 'Inter';
    font-weight: 600;
    border: solid 2px var(--secondary-color);
    border-radius: 7px;
    color: var(--secondary-color);
    background-color: transparent;
    padding: 10px 40px 10px 40px;
    cursor: pointer;
}

/* Quando não houver nada na página */

.emptyness {
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 965px;
    padding: 20px;
}

.emptyness i {
    font-size: 55px;
    margin-bottom: 10px;
}